<h1>Listing media</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= medium.value %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path %>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var url = $.ajax({
  url: 'media.json',
  dataType: 'json',
  async: false
}).responseText;

document.write(url);
  

  d3.json("media.json", function (data) {
    var width = 800;
    height = 600;

  var canvas = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
      .attr("transform", "translate(50, 50)");

  var pack = d3.layout.pack()
    .size([width, height - 50])
    .padding(10);
    
    var nodes = pack.nodes(data);
    var node = canvas.selectAll(".node")
      .data(nodes)
      .enter()
      .append("g")
        .attr("class", "node")
        .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")"; });

    node.append("circle")
      .attr("r", function (d) {return d.r; })
      .attr("fill", "steelblue")
      .attr("opacity", 0.25)
      .attr("stroke", "#ADADAD")
      .attr("stroke-width", "2");
  })

})

  </script>
